*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins','sans-serif';
}
.body{
    color: #ededed;
    background: #881b29;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: #365b64;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #d5b514;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 1;
    animation: slideright is ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #76c924;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 35;
    opacity: 1;
    animation: slideleft 2s ease forwards;
    animation-delay: calc(.2s *var(--i));
}
.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-btween;
    height: 100vh;
    background:url("img/1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    animation: slideleft 0s ease forwards;
    animation-delay: 0s;
    
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideleft 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 3s ease forwards;
    animation-delay: 0s;
}
.home-content p{
    font-size: 20px;
    opacity: 1;
    animation: slideRight 3s ease forwards;
    animation-delay: 0s;

}
.home-sci a{
display: inline-flex;
justify-content: center;
align-items: center;
height: 40px;
width:40px;
background: transparent;
border: 2px solid#0ef;
border-radius: 50%;
font-size: 20px;
color: #0ef;
text-decoration: none;
margin: 30px 15px 30px 0;
transition: 5s ease;
opacity: 0;
animation: slideleft 1s ease forwards;
animation-delay: calc(.2s *var(--i));
}
.home-sci a:hover{
background: #0ef;
color: #081b29;
box-shadow: 0 0 20px#0ef;
}
.btn-box{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    animation: slideleft 2s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;

}

.btn-box:hover{
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef, 0 0 50px #0ef, 
    0 0 100px #0ef, 0 0 200px #0ef;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img {
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 500px;
    height: auto;
    width: 90%;
    border-radius: 8px;
}


/*
.about-text h1{
    font-size: 80px;
}
.about-text h1 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: #fff;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 4rem;
} */



.Services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span {
    color: rgb(79, 132, 136);
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7
}
.service-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #0cb117;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #010609ba;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    animation: slideright 2s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef,0 0 50px #0ef, 
    0 0 100px #0ef, 0 0 200px #0ef;
}
.services-list div:hover{
    transform: translateY(-10px);
}
.section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span {
    color: rgb(79, 132, 136);
}
.h1{
    text-align: center;
}
h3{
    margin: 5px;
    color: #1b241b;
}
.Techinical-bars{
    width: 500px;
    margin: 60px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0, 22);
}
.Techinical-bars li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10PX 10PX RGBA(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 85%;
    animation: css 3s;
}
.php{
    width: 40%;
    animation: php 3s;
}
.python{
    width: 80%;
    animation: python 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
h1 {
	text-align: center;
}

.radial-bars{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ui-widgets {
	position: relative;
	display: inline-block;
	width: 10rem;
	height: 10rem;
	border-radius: 9rem;
	margin: 1.5rem;
	border: 1.2rem solid palegreen;
	box-shadow: inset 0 0 7px grey;
	border-left-color: palegreen;
	border-top-color: chartreuse;
	border-right-color: darkgreen;
	border-bottom-color: white;
	text-align: center;
	box-sizing: border-box;
}
.ui-widgets:nth-child(2) {
	border-top-color: chartreuse;
	border-right-color: white;
	border-left-color: palegreen;
	border-bottom-color: white;
}
.ui-widgets .ui-values {
	top: 40px;
	position: absolute;
	left: 10px;
	right: 0;
	font-weight: 700;
	font-size: 2.0rem;
}
.ui-widgets .ui-labels {
	left: 0;
	bottom: -16px;
	text-shadow: 0 0 4px grey;
	color: black;
	position: absolute;
	width: 100%;
	font-size: 16px;
}
.main-text{
    padding: 130px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#000(0,0,0,0,0,1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transform: height 0.5s;
}
.layer h5{
    color: #68c31d;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #f1e9f2;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}


.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: #fff(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: #fff(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 2px #0ef;
}
.contact-form{
    position: relative;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #010609ba;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    animation: slideright 2s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.contact-form form .send:hover{
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef,0 0 50px #0ef, 
    0 0 100px #0ef, 0 0 200px #0ef;
}
.last-text p{
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    background: #081b29;
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #bd1717;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0;
}

@keyframes slideRight{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft{
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidTop{
    0%{
        transform: translative(100px);
        opacity: 0;
    }
    100%{
        transform: translative(0px);
        opacity: 1;
    }
}
.container{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-area{
    width: 600px;
    height: 465px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.map-area iframe{
    width: 100%;
    height: 100%;
    border: none;
}
